<html>
<head>
<script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">{{ message }}</div>
  <div id="app-2">
    <span v-bind:title="message"> Hover your mouse over me for a
      few seconds to see my dynamically bound title! </span> <span v-once>This
      will never change: {{ message }}</span>
    <p>Using mustaches: {{ rawHtml }}</p>
    <p v-bind:custom="isCustom ? 'custom': false">
      Using v-html directive: <span v-html="rawHtml"></span>
    </p>
  </div>
  <div id="app3">
    <ol>
      <!-- Create an instance of the todo-item component -->
      <li is="todo-item"></li>
    </ol>
  </div>

  <div id="app4">
    <p>Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
  </div>

  <div id="app5">
    <input type="checkbox" value="test" v-model="checked"> <input
      type="checkbox" value="test2" v-model="checked"> <label
      for="checkbox">{{ checked }}</label>

    <p />
    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select> <span>Selected: {{ selected }}</span>

    <p />

    <select v-model="selected">
      <option v-for="option in options" value="option.value">
        {{ option.text }}</option>
    </select> <span>Selected: {{ selected }}</span>

  </div>

  <div id="app6">
    <input v-model.lazy="msg"> {{msg}}
  </div>

  <div id="app7">
    <table>
      <tr is="my-row" v-bind:my-message="myMessage"
        v-on:up-msg="updateMessage" />
    </table>
  </div>

  <div id="app8">
    <div id="message-event-example" class="demo">
      <p v-for="msg in messages">{{ msg }}</p>
      <button-message v-on:message="handleMessage"></button-message>
    </div>
  </div>

  <div id="app9">
    <currency-input v-model="price"></currency-input>
  </div>



  <script type="text/javascript">
      var app = new Vue({
        el : '#app',
        data : {
          message : 'Hello Vue!'
        }
      });

      var app2 = new Vue({
        el : '#app-2',
        data : {
          message : 'You loaded this page on ' + new Date().toLocaleString(),
          rawHtml : '<span style="color: red">This should be red.</span>',
          isCustom : false
        }
      });

      Vue.component('todo-item', {
        template : '<a>This is a todo</a>'
      });

      var app3 = new Vue({
        el : '#app3'
      });

      var app4 = new Vue({
        el : '#app4',
        data : {
          message : 'Hello'
        },
        computed : {
          // a computed getter
          reversedMessage : function() {
            // `this` points to the vm instance
            return this.message.split('').reverse().join('')
          }
        }
      });

      var app5 = new Vue({
        el : '#app5',
        data : {
          checked : [ 'test' ],
          selected : [],
          options : [ {
            text : 'One',
            value : 'A'
          }, {
            text : 'Two',
            value : 'B'
          }, {
            text : 'Three',
            value : 'C'
          } ]
        }
      });

      var app6 = new Vue({
        el : '#app6',
        data : {
          msg : ""
        }
      });

      Vue.component(
              'my-row',
              {
                props : {
                  'myMessage' : {
                    default: 'testing'
                  }
                },
                data : function() {
                  return {rowMessage: this.myMessage};
                },
                template : '<tr><td><input type="text" id="test" v-model="rowMessage"/></td></tr>',
                watch: {
                  rowMessage: function (newVal, oldVal) {
                    this.$emit("up-msg", {message: this.rowMessage});
                  }
                }
              });

      var app7 = new Vue({
        el : '#app7',
        data : {
          myMessage : 'testing123'
        },
        methods: {
          updateMessage: function(payload) {
            this.myMessage = payload.message;
            console.log(event);
          }
        }
      });
      
      Vue.component('button-message', {
        template: `<div>
          <input type="text" v-model="message" />
          <button v-on:click="handleSendMessage">Send</button>
        </div>`,
        data: function () {
          return {
            message: 'test message'
          }
        },
        methods: {
          handleSendMessage: function () {
            this.$emit('message', { message: this.message })
          }
        }
      });

      var app8 = new Vue({
        el: '#app8',
        data: {
          messages: []
        },
        methods: {
          handleMessage: function (payload) {
            this.messages.push(payload.message)
          }
        }
      });
      
      var currencyCompo = {
        template: '\
          <span>\
            $\
            <input\
              ref="input"\
              v-bind:value="value"\
              v-on:input="updateValue($event.target.value)">\
          </span>\
        ',
        props: ['value'],
        methods: {
          // Instead of updating the value directly, this
          // method is used to format and place constraints
          // on the input's value
          updateValue: function (value) {
            var formattedValue = value
              // Remove whitespace on either side
              .trim()
              // Shorten to 2 decimal places
              .slice(
                0,
                value.indexOf('.') === -1
                  ? value.length
                  : value.indexOf('.') + 3
              )
            // If the value was not already normalized,
            // manually override it to conform
            if (formattedValue !== value) {
              this.$refs.input.value = formattedValue
            }
            // Emit the number value through the input event
            this.$emit('input', Number(formattedValue))
          }
        }
      };
      var app9 = new Vue({
        el: '#app9',
        data: {
          price: ""
        },
        components : {
          'currency-input': currencyCompo
        }
      });
    </script>
</body>
</html>